*.iml
/.idea
/target
/lematizer/src/main/resources/MRD.BIN
/compiler/pom.xml.versionsBackup
/pom.xml.versionsBackup
/standard/pom.xml.versionsBackup
/testapp/pom.xml.versionsBackup
/benchmark/pom.xml.versionsBackup
/lematizer/pom.xml.versionsBackup
